.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;

  &__header {
    padding: 15px 20px;
    border: 1px solid var(--twitter-background);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    align-items: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
